<md-content id="document-info" layout="column" flex ng-cloak>
    <div class="container" layout="row" flex>

        <div layout="column" layout-align="center center" style="padding-right: 10px;">
            <div layout="colum" layout-align="center center">
                <img class="doc-cover" ng-src="../../../covers/{{document.cover}}">
            </div>
            <div layout="column" class="buttons" layout-align="start stretch">
                <md-button ng-click="addFavourite()" ng-if="!isFavourite" class="md-raised md-primary">
                    {{'BUTTON_ADD_FAVOURITES' | translate}}
                </md-button>
                <md-button ng-click="removeFavourite()" ng-if="isFavourite" class="md-raised md-primary">
                    {{'BUTTON_REMOVE_FROM_FAVOURITES' | translate}}
                </md-button>
                <md-button ng-click="searchSimilars($event)" class="md-raised md-accent">
                    {{'BUTTON_SEARCH_SIMILARS' | translate}}
                </md-button>
                <md-button ng-click="export()" class="md-raised md-warn" aria-label="Export document">
                    {{'BUTTON_EXPORT_DOCUMENT' | translate}}
                </md-button>
            </div>
        </div>

        <md-divider></md-divider>

        <div layout="column" class="right-container" flex>
            <div class="info-header">
                <div layout="column" layout-align="center center">
                    <p class="text-title text-center">{{document.title | uppercase}}</p>
                    <p class="text-author text-center">{{document.author}}</p>
                    <star-rating ng-model="document.rating" read-only="false" document-title="document.title"
                                 document-author="document.author"></star-rating>
                </div>
            </div>
            <div flex layout-padding style="white-space: pre-wrap;"
                        class="wrap-text no-scrollable-x">{{document.content}}</div>
        </div>

    </div>
</md-content>