#settings-wrapper {
    overflow-y: hidden;
}

#settings-scroll {
    overflow-y: auto;
}

#settings-scroll::-webkit-scrollbar,
.cool-scroll::-webkit-scrollbar-track {
    width: 12px;
}

#settings-scroll::-webkit-scrollbar-track,
.cool-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(150,150,150,0.3);
    border-radius: 10px;
}

#settings-scroll::-webkit-scrollbar-thumb,
.cool-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(150,150,150,0.5);
}