<md-content layout="column" layout-align="center center" id="about-test" flex>

    <div style="border: solid; border-width:5px; height: 70px; width: 500px;" layout="column" layout-align="center center">
        <span style="font-size: 3em; font-weight: bolder;"> PR<span ng-click="vm.unlockTit()" style="cursor: text;">O</span>P Library</span>
    </div>

    <h2>Projecte PROP</h2>
    <h3>Curs 2016/2017 Q1</h3>
    <br>
    <span>Josep de Cid Rodríguez</span>
    <span>Guillermo Valentín Pérez</span>
    <span>Gabriel Puigdemunt Schmolling</span>
    <span>Aleix Boixader Coma</span>

</md-content>